{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ total_balance }}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% if flag == 1 %}
                <tr>
                    <td colspan="4" style="text-align:left;"><b>CASH</b></td>
                    <td>$10,000.00</td>
                </tr>

            {% else %}
                <tr>
                    {% for portfolio in portfolios %}
                        <td>{{ portfolio.symbol }}</td>
                        <td>{{ portfolio.name }}</td>
                        <td>{{ portfolio.shares }}</td>
                        <td>{{ portfolio.price }}</td>
                        <td>{{ portfolio.value }}</td>
                    {% endfor %}
                </tr>

            <tr>
                <td colspan="4" style="text-align:left;"><b>CASH</b></td>
                <td>{{ user_balance }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}